@import "../../../../styles/main.scss";

.Genres {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  margin-bottom: $spacing-20;

  .Chip {
    padding: $spacing-6 $spacing-10;
    background-color: $red;
    border-radius: 50px;

    margin-right: $spacing-10;
  }
}
