$size: 50px;
$border-width: 5px;

.ratingIndicator {
  position: absolute;
  z-index: 1;

  bottom: -10px;
  left: -10px;

  --rating-color: #000;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $border-width solid var(--rating-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.score {
  font-size: 16px;
  font-weight: bold;
}
