/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Hero/hero.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.hero_Hero__hPfIC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 280px;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}
.hero_Hero__hPfIC .hero_HeroBlur__cHi1X {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0) 0%, rgb(18, 18, 18) 100%);
}
.hero_Hero__hPfIC .hero_HeroContent__1WKhm {
  color: white;
  text-align: center;
  z-index: 1;
  margin-top: 24px;
}
.hero_Hero__hPfIC .hero_HeroContent__1WKhm h1 {
  font-weight: 900;
  font-size: 40px;
}
.hero_Hero__hPfIC .hero_HeroContent__1WKhm h2 {
  font-weight: 400;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/show/[id]/showpage.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.showpage_Page__Hg5yL {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
}
.showpage_Page__Hg5yL .showpage_Content__W3tQ5 {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow-y: auto;
  color: white;
  padding-top: 20px;
  padding-inline: 12px;
  gap: 10px;
}
.showpage_Page__Hg5yL .showpage_Content__W3tQ5 .showpage_Episodes__2570X {
  padding-top: 20px;
}
.showpage_Page__Hg5yL .showpage_Content__W3tQ5 .showpage_Episodes__2570X h4 {
  font-size: 30px;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .showpage_Page__Hg5yL .showpage_Content__W3tQ5 p {
    max-width: 800px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/show/components/GenresChips/genreschips.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.genreschips_Genres__8hSPL {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.genreschips_Genres__8hSPL .genreschips_Chip__yzT2D {
  padding: 6px 10px;
  background-color: #ff3746;
  border-radius: 50px;
  margin-right: 10px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/show/components/EpisodeItem/episodeitem.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.episodeitem_EpisodeItem__gUnCf {
  text-decoration: none;
  border-radius: 12px;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}
.episodeitem_EpisodeItem__gUnCf:hover {
  transform: translateY(-5px);
}
.episodeitem_EpisodeItem__gUnCf .episodeitem_Card__kD69d {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #f3e7e9, #e3eeff);
  border-radius: 12px;
  color: #333;
  padding: 20px;
}
.episodeitem_EpisodeItem__gUnCf .episodeitem_Card__kD69d .episodeitem_SeenChip__TfzRL {
  margin-top: 12px;
  padding: 6px 20px;
  background-color: #ff3746;
  border-radius: 50px;
  margin-left: auto;
  color: white;
  font-weight: bold;
}
.episodeitem_EpisodeItem__gUnCf .episodeitem_Card__kD69d .episodeitem_Details__YVlaq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.episodeitem_EpisodeItem__gUnCf .episodeitem_Card__kD69d .episodeitem_Details__YVlaq .episodeitem_Title__TBsQN {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.episodeitem_EpisodeItem__gUnCf .episodeitem_Card__kD69d .episodeitem_Details__YVlaq .episodeitem_Info__s_US6 {
  margin: 8px 0;
  font-size: 18px;
  color: #555;
}
.episodeitem_EpisodeItem__gUnCf .episodeitem_Card__kD69d .episodeitem_Details__YVlaq .episodeitem_Info__s_US6:first-of-type {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .episodeitem_EpisodeItem__gUnCf {
    max-width: 800px;
  }
}
